@import "../../../sharedValue";
.container {
  /* small devices */
  @media screen and (min-width: $screen-xs-max){
    width: 100%;
  }
  @media screen and (min-width: $screen-xs-max) and (max-width: $screen-sm-min){
    width: 100%;
  }
  @media screen and (min-width: $screen-lg-min) {
    width: 1200px;
  }
  @media screen and (max-width: $screen-lg-min) {
    padding: 0 2px;
  }
  height: 100%;
  margin: 0 auto;
}
