<div class="footer">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <h2 class="title">About Us</h2>
      <ul class="footer-list">
        <li class="link"><a href="">CEO</a></li>
        <li class="link"><a href="">AOC</a></li>
        <li class="link"><a href="">COM</a></li>
        <li class="link"><a href="">ENM</a></li>
        <li class="link"><a href="">FIN</a></li>
        <li class="link"><a href="">GAD</a></li>
      </ul>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <h2 class="title">Community</h2>
      <ul class="footer-list">
        <li class="link"><a href="">Times</a></li>
        <li class="link"><a href="">澳门日报</a></li>
        <li class="link"><a href="">苹果周报</a></li>
        <li class="link"><a href="">Some Others</a></li>
      </ul>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <h2 class="title">Resources</h2>
      <ul class="footer-list">
        <li class="link"><a href="">Software</a></li>
        <li class="link"><a href="">Guid Line</a></li>
        <li class="link"><a href="">Security Resource</a></li>
        <li class="link"><a href="">Staff Benefits</a></li>
      </ul>
    </div>
  </div>
  <h3 class="copyRight">Copyright 2018 - All Rights Reserved Air Macau Company</h3>
</div>
