@import "../../sharedValue";
.ad-carousel-container {
  margin-top: 20px;
  .text-block {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    top: 20px;
    text-align: center;
  }
  .img-block {
    padding: 0 20px;
    @media screen and (max-width: $screen-lg-min){
      padding: 0 10px;
    }
    @media screen and (max-width: $screen-sm-min){
      padding: 0 2px;
    }
    .img-container img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .newsTitle {
    font-size: 40px;
    @media screen and (max-width: $screen-lg-min){
      font-size: 30px;
    }
    @media screen and (max-width: $screen-sm-min){
      font-size: 14px;
    }
  }

}
