<div class="nav">
  <app-container>
    <i class="anticon anticon-menu-fold nav-phone-icon" [nzContent]="navPhone"  nz-popover nzTrigger="click" nzPlacement="bottomRight"></i>
    <ng-template #navPhone>
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item [nzSelected]="true">  <a routerLink="/">Home</a></li>
        <li nz-menu-item><a routerLink="/telephone">Telephone</a></li>
      </ul>
    </ng-template>
    <div nz-row>
      <div class="logo-col" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="5" [nzXXl]="4">
        <a href="/" class="nav-logo"></a>
      </div>
      <div  nz-col nzXs="0" nzSm="0" nzMd="16" nzLg="16" nzXl="19" [nzXXl]="20">
        <ul class="menu-col" nz-menu [nzMode]="'horizontal'">
          <li nz-menu-item > <a routerLink="/">Home</a></li>
          <li nz-menu-item><a routerLink="/telephone">Telephone</a></li>
        </ul>
      </div>
    </div>
  </app-container>
</div>
