@import "../../../sharedValue";

$nav-height-lg : 60px;
$nav-height-sm : 48px;
$logo-height-lg: 46px;
$logo-height-sm: 30px;
$phone-menu-height: 28px;
.nav{
  height: $nav-height-lg;
  box-shadow: 0 2px 8px #f0f1f2;
  .ant-menu-horizontal {
    height: 100%;
    line-height: $nav-height-lg;
    border: none;

  }
  @media screen and (max-width: $screen-sm-min){
     height: $nav-height-sm;
    .ant-menu-horizontal {
      line-height: $nav-height-sm;
    }
  }
  .nav-logo {
    display: inline-block;
    position: relative;
    width: 178px;
    height: 46px;
    float: left;
    margin-top: ($nav-height-lg - $logo-height-lg)/2;
    background: transparent url("../../../../assets/logo-with20.svg") no-repeat scroll 0 0/100%;
    overflow: hidden;
    @media screen and (max-width: $screen-sm-min) {
      display: block;
      width: 118px;
      height: $logo-height-sm;
      float: none;
      margin-top: ceil(($nav-height-sm - $logo-height-sm)/2);
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: $screen-sm-min) {
      margin-left: 40px;
    }
  }

  .nav-phone-icon {
    display: none;
    position: absolute;
    right: 40px;
    top: $nav-height-sm - $phone-menu-height;
    z-index: 1;
    width: 24px;
    height: $phone-menu-height;
    cursor: pointer;
    @media screen and  (max-width: $screen-sm-min){
      display: block;
    }
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  .menu-col {
    float: right;
  }
}
